<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div>
        <h2>취미생활</h2>
        <label>
          <input type="checkbox" value="A" v-model="hobby" /> 운동
        </label>
        <label>
          <input type="checkbox" value="B" v-model="hobby" /> 독서
        </label>
        <label>
          <input type="checkbox" value="C" v-model="hobby" /> 음악
        </label>
        <label>
          <input type="checkbox" value="D" v-model="hobby" /> 댄스
        </label>
        <label>
          <input type="checkbox" value="E" v-model="hobby" /> 역사
        </label>

        <p>선택한 취미: {{ hobby.join(', ') }}</p>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        name: 'App',
        data() {
          return {
            hobby: [],
          };
        },
      }).mount('#app');
    </script>
  </body>
</html>
